<div class="container mx-auto text-center form_edit_container">
    {{ form_start(form, { 'attr': {'id': 'edit_form_customer_review'} }) }}
    <div class="form_edit_title_container my-3">
        <div class="form_edit_label">
            {{ form_label(form.firstname, 'Prénom') }}
        </div>
        <div>
            {{ form_widget(form.firstname, { 'attr': {'class': 'title_input_gooddeal'} }) }}
        </div>
        <div class="form_edit_label">
            {{ form_label(form.lastname, 'Nom') }}
        </div>
        <div>
            {{ form_widget(form.lastname, { 'attr': {'class': 'title_input_gooddeal'} }) }}
        </div>
    </div>
    <div class="form_edit_text_container my-3">
        <div class="form_edit_label">
            {{ form_label(form.review, 'Description') }}
        </div>
        <div>
            {{ form_widget(form.review, { 'attr': {'class': '', 'rows': '2'} }) }}
        </div>
    </div>
    {{ form_end(form) }}
    <button type="submit" form="edit_form_customer_review" class="sendButtonGreen">{{ button_label|default('Save') }}</button>
</div>
