{% extends 'layout_visitor.html.twig' %}

{% block body %}
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
            </div>
        </div>
    </header>
    <div class="container-fluid mt-5">
        <div class="h1_title_container mx-auto">
            <h1 class="text-center">Nos Réalisations</h1>
        </div>
        <div class="realisation_main_text">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elementum convallis ornare. Sed magna ante,
                tristique sit amet congue id, placerat at lectus. Maecenas semper molestie risus,
                in pulvinar libero sollicitudin non.
                Quisque ullamcorper est et turpis congue, sit amet dictum nisl interdum.
                Morbi ultricies enim id lectus aliquet.
            </p>
        </div>
        <div class="work_categories_container">
            <div class="row main_categories_row p-0 mt-5">
                <div class="col-sm-4 text-center p-0">
                    <a class="p-0 modal_link" data-toggle="modal" data-target=".bs-modal-lg-toiture">
                        <div class="work_categories_img_container">
                            <img class="work_categories_img" src="{{ asset('build/images/nos_real_categories/tuiles.png') }}" alt="toiture">
                            <p class="mosaique_title">Toiture</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 text-center p-0">
                    <a class="p-0 modal_link" data-toggle="modal" data-target=".bs-modal-lg-chauffage">
                    <div class="work_categories_img_container">
                        <img class="work_categories_img" src="{{ asset('build/images/nos_real_categories/chauffage.jpg') }}" alt="chauffage">
                        <p class="mosaique_title">Chauffage</p>
                    </div>
                    </a>
                </div>
                <div class="col-sm-4 text-center p-0">
                    <a class="p-0 modal_link" data-toggle="modal" data-target=".bs-modal-lg-ravalement">
                    <div class="work_categories_img_container">
                        <img class="work_categories_img" src="{{ asset('build/images/nos_real_categories/ravalement.jpg') }}" alt="ravalement">
                        <p class="mosaique_title">Ravalement</p>
                    </div>
                    </a>
                </div>
            </div>
            <div class="row main_categories_row p-0">
                <div class="col-sm-4 text-center p-0">
                    <a class="p-0 modal_link" data-toggle="modal" data-target=".bs-modal-lg-salle-de-bain">
                    <div class="work_categories_img_container">
                        <img class="work_categories_img" src="{{ asset('build/images/nos_real_categories/salle_de_bain.png') }}" alt="salle de bain">
                        <p class="mosaique_title">Salle de bain</p>
                    </div>
                    </a>
                </div>
                <div class="col-sm-4 text-center p-0">
                    <a class="p-0 modal_link" data-toggle="modal" data-target=".bs-modal-lg-travaux-interieur">
                    <div class="work_categories_img_container">
                        <img class="work_categories_img" src="{{ asset('build/images/nos_real_categories/travaux_interieur.png') }}" alt="travaux intérieur">
                        <p class="mosaique_title">Travaux intérieurs</p>
                    </div>
                    </a>
                </div>
                <div class="col-sm-4 text-center p-0">
                    <a class="p-0 modal_link" data-toggle="modal" data-target=".bs-modal-lg-terrassement">
                    <div class="work_categories_img_container">
                        <img class="work_categories_img" src="{{ asset('build/images/nos_real_categories/terrassement.jpg') }}" alt="terrassement">
                        <p class="mosaique_title">Terrassement</p>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="client_container">
            <div class="h2_title_container mx-auto">
                <h2 class="text-center">Avis Clients</h2>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="cust_review_container">
                        <p class="client_react">
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elementum convallis ornare. Sed magna ante,
                            tristique sit amet congue id, placerat at lectus."
                        </p>
                        <p class="client_id">
                            Jean-Pierre, 91
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="cust_review_container">
                        <p class="client_react">
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elementum convallis ornare. Sed magna ante,
                            tristique sit amet congue id."
                        </p>
                        <p class="client_id">
                            Jean-Pierre, 91
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="cust_review_container">
                        <p class="client_react">
                            "Lorem ipsum dolor sit amet Sed magna ante,
                            tristique sit amet congue id, placerat at lectus. Maecenas semper molestie risus."
                        </p>
                        <p class="client_id">
                            Jean-Pierre, 91
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'nos_realisations/modals.html.twig' %}
{% endblock body %}


{% block footer %}
    {% include 'footer/index.html.twig' %}
{% endblock %}