<div class="container mx-auto text-center form_edit_container">
{{ form_start(form, { 'attr': {'id': 'edit_form_gooddeal'} }) }}
    <div class="form_edit_title_container my-3">
        <div class="form_edit_label">
        {{ form_label(form.title, 'Titre') }}
        </div>
        <div>
        {{ form_widget(form.title, { 'attr': {'class': 'title_input_gooddeal'} }) }}
        </div>
    </div>
    <div class="form_edit_text_container my-3">
        <div class="form_edit_label">
            {{ form_label(form.description, 'Description') }}
        </div>
        <div>
            {{ form_widget(form.description, { 'attr': {'class': '', 'rows': '2'} }) }}
        </div>
    </div>
    {{ form_end(form) }}
    <button type="submit" form="edit_form_gooddeal" class="sendButtonGreen">{{ button_label|default('Save') }}</button>
</div>
